<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InvPizzeriaModel" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=LocalInvPizzDB;Integrated Security=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>