<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="InvPizzeriaModel" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=LocalInvPizzDB;Integrated Security=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="InventarioPizzeria.Properties.Settings.InventarioPizzeriaConnectionString"
      connectionString="Data Source=ELIA\SQLSERVER;Initial Catalog=InventarioPizzeria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InventarioPizzeria.Properties.Settings.LocalInvPizzDBConnectionString"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=LocalInvPizzDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>